@import '../../App.scss';

.main-page {
  position: relative;

  min-height: 100vh;
  background-color: #48304b;
  color: $text-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    position: absolute;
    top: calc(85px);
    right: 10px;

    width: 180px;
    height: 50px;

    font-size: 18px;
  }

  &__title {
    margin: 40px 0;

    font-size: 34px;
    text-decoration: underline;
  }

  &__content {
    width: 70%;

    margin-top: 20px;
    padding-bottom: 100px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@keyframes money {
  0% {
    top: 0;
    transform: rotate(0deg);
  }

  25% {
    top: 25%;
  }

  50% {
    top: 50%;
  }

  75% {
    top: 75%;
  }

  100% {
    top: 100%;
    transform: rotate(360deg);
  }
}
