@import '../../App.scss';

.main-page {
  position: relative;

  min-height: 100vh;
  background-color: #48304b;
  color: $text-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    position: absolute;
    top: calc(85px);
    right: 10px;

    width: 180px;
    height: 60px;

    font-size: 18px;
  }

  &__title {
    margin: 40px 0;

    font-size: 34px;
    text-decoration: underline;
  }

  &__content {
    width: 70%;

    margin-top: 20px;
    padding-bottom: 100px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
