@import '../../App.scss';

.main-page {
  min-height: 100vh;
  background-color: #48304b;
  color: $text-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 40px 0;

    font-size: 34px;
    text-decoration: underline;
  }

  &__content {
    width: 70%;

    margin-top: 20px;
    padding-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
